<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'taxon_area', taxonomies: taxonomies %>
        <%= render 'price_list' %>
        <%= render 'color_list' %>
        <%= render 'size_list' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter_area' %>
        <div class="row">
          <%= render partial: 'product_area', collection: taxon.products, as: 'product' %>
        </div>
      </div>
    </div>
  </div>
</section>