<li>
  <a href="javascript:;" data-toggle="collapse" data-target= <%= "#taxonomy_#{taxonomy_counter}" %>><%= taxonomy.name %><i class="fa fa-plus"></i></a>
  <ul id=<%= "taxonomy_#{taxonomy_counter}" %> class="collapse collapseItem">
    <% taxonomy.root.leaves.each do |taxon| %>
      <li>
        <%= link_to potepan_category_path(taxon.id) do %>
          <%= taxon.name %>
          <i class="fa fa-caret-right" aria-hidden="true"></i><span>(<%= taxon.products.size %>)</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>