<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'category_header', { taxon: @taxon } %>
<!-- MAIN CONTENT SECTION -->
<%= render 'category_main_section', { taxonomies: @taxonomies, taxon: @taxon } %>
<!-- LIGHT SECTION -->
<%= render 'light_section' %>