<% provide(:title, @product.name) %>
<%= render(partial: 'layouts/light_section', locals: { product: @product }) %>
<%= render(partial: 'potepan/products/show_main_content', locals: { product: @product }) %>